# No whitespace after the comma or in your part name!
config SHIELD_MEJIRO_LEFT
    def_bool $(shields_list_contains,mejiro_left)

# No whitespace after the comma or in your part name!
config SHIELD_MEJIRO_RIGHT
    def_bool $(shields_list_contains,mejiro_right)
